.fl {
    float: left;
}
.fr {
    float: right;
}
.main-inner__qrcode {
    display: none;
    margin-top: -2vh;
}
.main-inner__qrcode dl,
.main-inner__qrcode dl dt,
.main-inner__qrcode dl dd {
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-inner__qrcode dl dt {
    font-size: 1vh;
    letter-spacing: 8px;
    padding-left: 10px;
}
.main-inner__qrcode dl dd img {
    display: inline-block;
    margin: auto;
}

.mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 34, 36, .45);
    z-index: 9;
}
.popup-name {
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 80%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    transform: translate(-50%, -50%);
}
.popup-name h3 {
    line-height: 24px;
}
.popup-name h3 span {
    font-size: 12px;
    font-weight: normal;
    color: #b7b7b8;
    padding-left: 6px;
}
.popup-name p {
    font-size: 12px;
    color: #b7b7b8;
    line-height: 22px;
}
.popup-name .txt {
    width: 100%;
    display: inline-block;
    margin: 12px auto;
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-size: 22px;
}
.popup-name .foot {
    padding-top: 12px;
}
.popup-name .foot img {
    width: 36%;
    display: inline-block;
    margin: 0 12px;
}

.footer-share-btn {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px 24px;
    height: 68px;
    background-color: #483637;
}

.footer-share-btn img {
    margin: 0 8px;
    display: inline-block;
}

.share-tip .content {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 9;
}
.share-tip .content img {
    display: inline-block;
    margin-top: 24px;
}
.share-tip i {
    display: block;
    position: fixed;
    right: 24px;
    top: 24px;
    z-index: 10;
}

#pic {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
}
#pic dl {
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: -webkit-translate(-50%, -50%);
    margin: 0 auto;
    width: 80%;
    display: block;
    padding: 10px;
    background-color: #fff;
    line-height: 22px;
    border-radius: 10px;
}
#pic dl dd {
    padding-top: 8px;
}

#pic i {
    position: fixed;
    right: 12px;
    top: 12px;
    font-size: 18px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #fff;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
